@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
  transform: translateY(10px);
}
